{% include "components/_head.html.twig" %}

<div class="cui-login">
  
  <div class="cui-login-block">
    <div class="row">
      <div class="col-xl-12">
        
        <div class="cui-login-block-inner">
          <div class="cui-login-block-form">
            <h4 class="text-uppercase text-center">
              <strong>SYGTECH</strong>
            </h4>
            <br />
            <form id="form-validation" name="form-validation" method="POST">

              {% if error %}
                 <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
              {% endif %}

              {% if app.user %}
                 <div class="mb-3">
                     You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                 </div>
              {% endif %}
              <div class="form-group">
                <label class="form-label" for="inputEmail">Adresse mail</label>
                <input
                  id="inputEmail"
                  class="form-control"
                  placeholder="Adresse mail ou nom d'utilisateur"
                  name="email"
                  type="text"
                  data-validation="[EMAIL]"
                  value="{{ last_username }}"
                  required 
                  autofocus
                />
              </div>
              <div class="form-group">
                <label for="inputPassword" class="form-label">Mot de passe</label>
                <input
                  id="inputPassword"
                  class="form-control password"
                  name="password"
                  type="password"
                  data-validation="[L>=6]"
                  data-validation-message="$ must be at least 6 characters"
                  placeholder="Mot de passe"
                  required
                />
              </div>

              <div class="form-group">
                  <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
              </div>

              <div class="form-group">
                <a
                  href="javascript: void(0);"
                  class="pull-right cui-utils-link-blue cui-utils-link-underlined"
                  >Avez-vous oublié votre mot de passe?</a
                >
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="example6" checked />
                    Se souvenir de moi
                  </label>
                </div>
              </div>
              <div class="form-actions">
                <button type="submit" class="btn btn-primary mr-3">Se connecter</button>
              </div>
        
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  {# <div class="cui-login-footer text-center">
    <ul class="list-unstyled list-inline">
      <li class="list-inline-item"><a href="javascript: void(0);">Terms of Use</a></li>
      <li class="active list-inline-item"><a href="javascript: void(0);">Compliance</a></li>
      <li class="list-inline-item"><a href="javascript: void(0);">Confidential Information</a></li>
      <li class="list-inline-item"><a href="javascript: void(0);">Support</a></li>
      <li class="list-inline-item"><a href="javascript: void(0);">Contacts</a></li>
    </ul>
  </div>
</div> #}
<!-- END: pages/login-alpha -->
