{% extends 'masterpage.html.twig' %}

{% block content %}
<!-- START: apps/profile -->
<div class="row">
    <div class="col-xl-4">
        <div class="card cui-apps-profile-card"
            style="background-image: url(/cleanui/components/dummy-assets/common/img/photos/4.jpeg)">
            <div class="card-body text-center">
                <a class="cui-avatar cui-avatar-border-white cui-avatar-110" href="javascript:void(0);">
                    <img src="/cleanui/components/dummy-assets/common/img/avatars/1.jpg"
                        alt="Alternative text to the image" />
                </a>
                <br />
                <br />
            
                <p class="text-white">
                    <span class="cui-utils-donut cui-utils-donut-success"></span>
                    Online
                </p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="example-calendar-block"></div>
            </div>
        </div>
    </div>
    <div class="col-xl-8">
        <div class="card">
            <div class="card-body">
             
                <h2>
                    <span class="text-black">
                        <strong>{{utilisateur.nom}} {{utilisateur.prenom}}</strong>
                    </span>
                </h2>
                <p class="mb-1">{{ compte }}</p>
            </div>
        </div>
    </div>
</div>
<!-- END: apps/profile -->
{% endblock %}