    <!-- Navigation -->
<div class="navigation">
                
    <div class="container">
        <header class="navbar" id="top" role="banner">
                        <div class="navbar-header">
                            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <div class="navbar-brand nav" id="brand">
                                <a href="#"> <img src="{{asset('img/consultant-industrial.png')}}" alt="Менахаус" title="Менахаус"></a>
                            </div>
                        </div>
                        <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
                            <ul class="nav navbar-nav">
                                <li class="has-child"><a href="#" title="Основное личное меню пользователя"><i class="fa fa-user fa-fw"></i>&nbsp;Compte utilisateur</a>
                                    <ul class="child-navigation">
                                    <li><a href="mailbox.html" title="Проверить новые сообщения, вам должно повезти" class="list-group-item"><i class="fa fa-envelope-o"></i>&nbsp; Inbox &nbsp;<span class="label label-danger pull-right">14</span></a></li> <!-- CZ кол-во сообщений выводится из базы -->
                                                        <li><a href="my-properties.html" title="Проверить и добавить новое объявление"><i class="fa fa-th-list"></i>&nbsp; Planning</a></li>
                                                        <li><a href="profile.html" title="Настройки пользователя и сайта"><i class="fa fa-cogs"></i>&nbsp; Paramètres</a>
                                        <li><a href="index.html" title="Обязательно зайдите завтра проверить новые сообщения!"><i class="fa fa-sign-out"></i>&nbsp;Deconnexion</a></li>
                                    </ul>
                                </li>

                            </ul>
                        </nav><!-- /.navbar collapse-->
        </header><!-- /.navbar -->
    </div><!-- /.container -->
</div><!-- /.navigation -->