.element.style {
    height: 80%;
    width: 100%;
    position: fixed !important;
}

.leaflet-pane,
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow,
.leaflet-tile-container,
.leaflet-pane>svg,
.leaflet-pane>canvas,
.leaflet-zoom-box,
.leaflet-image-layer,
.leaflet-layer {
    /*position: absolute;*/
    left: 0;
    top: 0;
}

.leaflet-container {
    overflow: hidden;
}


.container-items {
    display: inline-flexbox;
}
.map-container {
    display: grid;
    grid-template-columns: 4fr 7fr
}

.carte {
    height: 100hv !important;
} 

.cui-utils-card-with-sidebar .cui-utils-card-sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 30.46rem;
}