<template>
  <div style="height: 100%; width: 100%">
    <l-map
      style="height: 80%; width: 100%"
      :zoom="zoom"
      :center="center"
    >
      <l-tile-layer :url="url" />
      <l-marker :lat-lng="markerLatLng" />
    </l-map>
  </div>
</template>

<script>
import {
  LMap,
  LTileLayer,
  LMarker
} from 'vue2-leaflet';

import axios from 'Axios';

export default {
  name: "Carte",
  components: {
    LMap,
    LTileLayer,
    LMarker
  },
  
  data: function () {
    return {
      position: [],
      url: 'http://{s}.tile.osm.org/{z}/{x}/{y}.png',
      zoom: 13,
      center: [47.413220, -1.219482],
      markerLatLng: [47.413220, -1.219482]
    };
  },

  mounted() {
    
    axios
      .get('/back-office/api/agences')
      .then(response => {
        console.log(response.data)
      });

  },
  methods: {
    setPosition: function() {
      // return position: [47.313220, -1.319482]
    }
  }
}
</script>

<style scoped>

#map-container {
    position: relative;
}

#map {
   height: 200px;
}

</style>