<template>
  <div
    class="card"
  >
    <div>
      <vue-chartist
        :data="chartData"
        type="Bar"
      />
    </div>
  </div>
</template>

<script>

import VueChartist from 'v-chartist'
import Axios from 'axios'

export default {
  components: { 'vue-chartist': VueChartist },
  data: function () {
    return {
      chartData: {
        labels: null,
        series: null
      },
      options: {
        seriesBarDistance: 15
      },
      fullWidth: true,
    }
  },
  mounted() {
    Axios.get('/back-office/statistique')
      .then(response => {
        this.series = new Array();
        this.series = [response.data];
        console.log(this.series);
      });

    this.labels = ['Yaoundé', 'Douala', 'Kribi', 'Edea']
  },
  methods: {
    update: function() {
    //   Axios
    //     .get('/back-office/statistique')
        
    }
  }
}
</script>