{% extends 'masterpage.html.twig' %}

{% block content %}

<div class="row">
    <div class="col-lg-6">
        <div class="cui-utils-sortable" id="left-col">

            <div class="card" data-order-id="card-7">
                <div class="card-header">
                    <div class="pull-right cui-utils-sortable-control">
                        <i class="icmn-minus mr-2 cui-utils-sortable-collapse" data-toggle="tooltip"
                            data-placement="left" title="" data-original-title="Collapse"></i>
                        <i class="icmn-cross cui-utils-sortable__close" data-toggle="tooltip" data-placement="left"
                            title="" data-original-title="Remove"></i>
                    </div>
                    <div class="cui-utils-title"><strong>Статииски</strong></div>
                    <div class="cui-utils-title-description">
                        Здесь важные данные системы
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="cui-info-card cui-info-card-white-font bg-success">
                                <span class="cui-info-card-digit">
                                    <i class="lnr lnr-calendar-full"></i>
                                </span>
                                <div class="cui-info-card-desc">
                                    <span class="cui-info-card-title">Ремонты</span>
                                    <p>Количество: {{countIntervention}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="cui-info-card cui-info-card-white-font bg-primary">
                                <span class="cui-info-card-digit">
                                    <i class="lnr lnr-bullhorn"></i>
                                </span>
                                <div class="cui-info-card-desc">
                                    <span class="cui-info-card-title">Заявки</span>
                                    <p>Количество: {{countDemandes}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="cui-info-card cui-info-card-white-font bg-default">
                                <span class="cui-info-card-digit">
                                    <i class="lnr lnr-users"></i>
                                </span>
                                <div class="cui-info-card-desc">
                                    <span class="cui-info-card-title">Техподдержка</span>
                                    <p>Количество: {{countTechnicien}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="cui-info-card cui-info-card-white-font bg-danger">
                                <span class="cui-info-card-digit">
                                    <i class="lnr lnr-home"></i>
                                </span>
                                <div class="cui-info-card-desc">
                                    <span class="cui-info-card-title">Кассы</span>
                                    <p>Количество : {{ countAgences }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cui-utils-margin-fix">
                        <!-- -->
                    </div>
                </div>
            </div>

            <div class="card" data-order-id="card-5">
                <div class="card-header">
                    <div class="pull-right cui-utils-sortable-control">
                        <i class="icmn-minus mr-2 cui-utils-sortable-collapse" data-toggle="tooltip"
                            data-placement="left" title="" data-original-title="Collapse"></i>
                        <i class="icmn-plus mr-2 cui-utils-sortable-uncollapse" data-toggle="tooltip"
                            data-placement="left" title="" data-original-title="Uncollapse"></i>
                        <i class="icmn-cross cui-utils-sortable__close" data-toggle="tooltip" data-placement="left"
                            title="" data-original-title="Remove"></i>
                    </div>
                    <div class="cui-utils-title"><strong>Новые добавления</strong></div>
                    <div class="cui-utils-title-description">
                        Показывает то что не давно добавлено в системе
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-6">
                            <div
                                class="cui-info-card cui-info-card-interactive cui-info-card-white-font cui-info-card-around-border bg-danger">
                                <div class="cui-info-card-icon text-center font-size-30">
                                    <i class="lnr lnr-users"></i>
                                </div>
                                <div class="mt-2 text-center">
                                    <div class="mb-2">
                                        <p> Ремонтные работы </p>
                                    </div>
                                    <a href="{{path('equipement_dernier')}}" class="btn btn-outline-danger">
                                        Информация
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div
                                class="cui-info-card cui-info-card-interactive cui-info-card-white-font cui-info-card-around-border bg-success">
                                <div class="cui-info-card-icon text-center font-size-30">
                                    <i class="lnr lnr-home"></i>
                                </div>
                                <div class="mt-2 text-center">
                                    <div class="mb-2">
                                        <p> Заявки на ремонт в кассе </p>
                                    </div>
                                    <a href="{{path('demande_derniere')}}" class="btn btn-outline-success">
                                        Информация
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cui-utils-margin-fix">
                        <!-- -->
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="col-lg-6">

        <div class="card" data-order-id="card-11">
            <div class="card-header">
                <div class="pull-right cui-utils-sortable-control">
                    <i class="icmn-minus mr-2 cui-utils-sortable-collapse" data-toggle="tooltip" data-placement="left"
                        title="" data-original-title="Collapse"></i>
                    <i class="icmn-plus mr-2 cui-utils-sortable-uncollapse" data-toggle="tooltip" data-placement="left"
                        title="" data-original-title="Uncollapse"></i>
                    <i class="icmn-cross cui-utils-sortable__close" data-toggle="tooltip" data-placement="left" title=""
                        data-original-title="Remove"></i>
                </div>
                <div class="cui-utils-title"><strong>Расход на ремонт</strong></div>
                <span class="mr-2 nowrap">
                    <span class="cui-utils-donut cui-utils-donut-primary"></span>
                     Расход
                </span>

            </div>


            <div class="card-body data-series" data-is-series="{{ series|json_encode }} ">
                <div class="chart-overlapping-bar height-300 chartist"></div>
            </div>
        </div>
    </div>

</div>

{% endblock %}

{% block javascripts %}

<script>
    document.addEventListener('DOMContentLoaded', function () {


        // or with jQuery
        const $donnees = $('.data-series').data('isSeries');
        const $dt = [JSON.parse(($donnees))][0]

        console.log([JSON.parse(($donnees))][0]);


        var overlappingData = {
                labels: [
                    'Yaoundé',
                    'Douala',
                    'Kribi',
                    'Edéa',
                    'Bafoussa'
                ],
                series: [
                    $dt
                ],
            },
            overlappingOptions = {
                seriesBarDistance: 1,
                plugins: [Chartist.plugins.tooltip()],
            },
            overlappingResponsiveOptions = [
                [
                    '',
                    {
                        seriesBarDistance: 5,
                        axisX: {
                            labelInterpolationFnc: function (value) {
                                return value[0]
                            },
                        },
                    },
                ],
            ]

        new Chartist.Bar(
            '.chart-overlapping-bar',
            overlappingData,
            overlappingOptions,
            overlappingResponsiveOptions,
        )


    });
</script>
{% endblock %}