{% extends "masterpage.html.twig" %}

{% block content %}
<h3 class="text-black mb-4">Fiche d'intervention</h3>
<div class="card cui-utils-card-with-sidebar">
    <div class="cui-utils-card-sidebar">
        <div class="col-lg-8">
            <h5 class="mt-2 cui-utils-title"><strong>Caractéristiques</strong></h5>
            <div class="mt-5">
                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <td>Agence:</td>
                            <td>{{demande.agences.nom}} </td>
                        </tr>
                        <tr>
                            <td>Origine problème:</td>
                            <td>{{demande.origineProbleme}} </td>
                        </tr>
                        <tr>
                            <td>Type matériel:</td>
                            <td>{{demande.typeMateriel}}</td>
                        </tr>
                        <tr>
                            <td>Statut:</td>
                            <td>{{demande.status}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="card-header">
        <div class="pull-right mt-2">

            {% if is_granted('ROLE_TECHNICIEN') %}
                 <span class="mr-3">
                    {% if 'Terminé' == demande.intervention.etat %}
                        <a href="{{path('demande_historique') }}">Historique des demandes</a>
                    {% else %}
                        <a href="{{path('technicien_rapport', {'id': demande.id}) }}">Faire le rapport d'intervention</a>
                    {% endif %}
                 </span>
            {% else %}
                <span class="mr-3">
                   <a href="{{path('demande_historique') }}">Historique des demandes</a>
                </span>
            {% endif %}
            
        </div>
        <span class="cui-utils-title">
            <strong>Description du problème</strong>
        </span>
    </div>
    <div class="card-body">
        <p>
            {{demande.description}}
        </p>
    </div>
</div>
<!-- End Panel with Left Sidebar -->
{% endblock %}

{% block javascripts %}

{{ encore_entry_script_tags('app') }}

{% endblock %}