{% extends "masterpage.html.twig" %}

{% block content %}

<h3 class="text-black mb-4">Mes interventions</h3>

<div class="map-container">
    {% for demandes in demande_interventions | batch(3) %}
    <div class="row ml-1">
        {% for row in demandes %}

        <div class="card mr-3 mb-3" style="max-width: 18rem;">
            <div class="card-header">Agence {{ row.agences.nom }}</div>
            <div class="card-body ">
                <p>Origine du problème: {{ row.origineProbleme }}</p>
                <p class="card-text text-justify">{{ row.description|striptags|slice(0, 100)}} </p>
            </div>
            <div class="card-footer bg-transparent border-success"><a href="{{path('technicien_intervention', {id: row.id})}}">Ouvrir le
                    ticket</a>
            </div>
        </div>

        {% endfor %}
    </div>
    {% endfor %}

     {# <div class="carte" id="app"></div> #}
</div>


{% endblock %}

{% block javascripts %}

{{ encore_entry_script_tags('app') }}

{% endblock %}



{# {% block javascripts %}
<!--[if gt IE 8]>
<script type="text/javascript" src="assets/js/ie.js"></script>
<![endif]-->

<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
   integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
   crossorigin=""></script>


<script type="text/javascript">
    // Функция ymaps.ready() будет вызвана, когда
    // загрузятся все компоненты API, а также когда будет готово DOM-дерево.
    ymaps.ready(init);
    function init(){ 
        // Создание карты.    
        var myMap = new ymaps.Map("map", {
            // Координаты центра карты.
            // Порядок по умолчанию: «широта, долгота».
            // Чтобы не определять координаты центра карты вручную,
            // воспользуйтесь инструментом Определение координат.
            center: [55.76, 37.64],
            // Уровень масштабирования. Допустимые значения:
            // от 0 (весь мир) до 19.
            zoom: 7
        });
    }
</script>
{% endblock %} #}