{% extends "masterpage.html.twig" %}

{% block content %}

<div class="card">
    <div class="card-header">
        <span class="cui-utils-title">
            <strong>Описание и используемое оборудование</strong>
        </span>
    </div>

    <div class="card-body">
        {{ rapportIntervention.descriptionSolution | raw }}

        <hr>
        <div class="mb-5">
            <div class="row mt-5">

                <div class="col-md-6">

                    <span class="cui-utils-title">
                        <strong>Список используемых оборудований</strong>
                    </span>
                </div>

            </div>
        </div>

        {% if rapportIntervention.equipements is empty %}
        <p> aucun </p>
        {% else %}

        <div class="table-responsive">
            <table class="table table-hover text-right">
                <thead>

                    <tr>
                        <th class="text-center">#</th>
                        <th>Описание</th>
                        <th class="text-right">Количество</th>
                        <th class="text-right">Цена</th>
                        <th class="text-right">Сумма</th>
                    </tr>

                </thead>
                <tbody>
                    {% for row in rapportIntervention.equipements %}
                    <tr>
                        <td class="text-center">{{ loop.index }}</td>
                        <td class="text-left">{{row.designation}}</td>
                        <td>{{row.quantite}}</td>
                        <td>${{row.prixUnitaire}}</td>
                        <td>${{row.quantite * row.prixUnitaire}}</td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
        <div class="text-right clearfix">
            <div class="pull-right">
                <p class="page-invoice-amount">
                    <strong>Grand Total: <span>${{total}}</span></strong>
                </p>
                <br />
            </div>
        </div>
        <div class="text-right">
            <button type="submit" class="btn btn-sm btn-primary">
                <i class="icmn-checkmark mr-1"></i>
                Poster le rapport d'intervention
            </button>
        </div>
        {% endif %}
    </div>
</div>

{% endblock content %}