{% extends "masterpage.html.twig" %}

{% block content %}

<div class="card">
  <div class="card-header">
    <span class="cui-utils-title">
      <strong>Description et équipements utilisés</strong>
    </span>
  </div>

   <div class="card-body">
    {{ rapportIntervention.descriptionSolution | raw }}

    <hr>
    <div class="mb-5">
      <div class="row mt-5">

        <div class="col-md-6">
          <h5 class="text-black "> Liste des consomables utilisés </h5>
        </div>
        <div class="col-md-6 text-right">
          <p class="btn btn-sm" data-toggle="modal" data-target="#example3">
            Ajouter un equipement
          </p>

        </div>
      </div>
    </div>

    {% if consomables is empty %}
        <p> aucun </p>
    {% else %}

    <div class="table-responsive">
      <table class="table table-hover text-right">
        <thead>
      
          <tr>
            <th class="text-center">#</th>
            <th>Description</th>
            <th class="text-right">Quantité</th>
            <th class="text-right">Prix unitaire</th>
            <th class="text-right">Total</th>
          </tr>
     
        </thead>
        <tbody>
          {% for row in rapportIntervention.equipements %}
            <tr>
              <td class="text-center">{{ loop.index }}</td>
              <td class="text-left">{{row.designation}}</td>
              <td>{{row.quantite}}</td>
              <td>${{row.prixUnitaire}}</td>
              <td>${{row.quantite * row.prixUnitaire}}</td>
            </tr>
          {% endfor %}
    
        </tbody>
      </table>
    </div>
    <div class="text-right clearfix">
      <div class="pull-right">
        <p class="page-invoice-amount">
          <strong>Grand Total: <span>${{total}}</span></strong>
        </p>
        <br />
      </div>
    </div>
    <div class="text-right">
      <button type="submit" class="btn btn-sm btn-primary">
        <i class="icmn-checkmark mr-1"></i>
        Poster le rapport d'intervention
      </button>
    </div>
    {% endif %}
  </div>
</div>

<div class="modal fade" id="example3" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Formulaire d'ajout d'équipement</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {{ form_start(formEquipement) }}
      <div class="modal-body">

        <div class="row">
          <div class="col-lg-12">
            <div class="form-group">
              {{ form_row(formEquipement.designation, {'attr': { 'class': 'form-control', 'id': 'l13'}} ) }}
            </div>
          </div>

          <div class="col-lg-12">
            <div class="form-group">
              {{ form_row(formEquipement.type, {'attr': { 'class': 'form-control', 'id': 'l13'}} ) }}
            </div>
          </div>

          <div class="col-lg-12">
            <div class="row form-group">
              <div class="col-lg-6">
                {{ form_row(formEquipement.prixUnitaire, {'attr': { 'class': 'form-control', 'id': 'l13'}} ) }}
              </div>
              <div class="col-lg-6">
                {{ form_row(formEquipement.quantite, {'attr': { 'class': 'form-control', 'id': 'l13'}} ) }}
              </div>
            </div>
          </div>

          <div class="modal-footer">
            {{form_row(formEquipement.save, {'attr': { 'class': 'btn btn-sm btn-primary'}})}}
            <button type="button" class="btn btn-sm" data-dismiss="modal">Fermer</button>
          </div>

          {{ form_end(formEquipement) }}
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock content %}