{% extends "masterpage.html.twig" %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page"><a href="#">Rapport d'intervention</a></li>
        <li class="breadcrumb-item"><a href="#">Equipements</a></li>
        <li class="breadcrumb-item ">Confirmation</li>
    </ol>
</nav>


{# <div class="card">
    <div class="card-body">
        <div class="mb-5">
            <div class="row">
                <div class="col-md-6">
                    <h4 class="text-black mb-3">
                        <strong>Agence {{demande.agences.nom}}</strong>
                        
                    </h4>
                    <address>
                        {{demande.agences.adresse}}
                        <br />
                    </address>
                </div>
          
            </div>
            <div class="table-responsive">
                <table class="table table-hover text-right">
                    <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th>Description</th>
                            <th class="text-right">Quantity</th>
                            <th class="text-right">Unit Cost</th>
                            <th class="text-right">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">1</td>
                            <td class="text-left">Server hardware purchase</td>
                            <td>35</td>
                            <td>$75.00</td>
                            <td>$2,152.00</td>
                        </tr>
                        <tr>
                            <td class="text-center">2</td>
                            <td class="text-left">Office furniture purchase</td>
                            <td>21</td>
                            <td>$169.00</td>
                            <td>$4,169.00</td>
                        </tr>
                        <tr>
                            <td class="text-center">3</td>
                            <td class="text-left">Company Anual Dinner Catering</td>
                            <td>58</td>
                            <td>$49.00</td>
                            <td>$1,260.00</td>
                        </tr>
                        <tr>
                            <td class="text-center">4</td>
                            <td class="text-left">Payment for Jan 2016</td>
                            <td>231</td>
                            <td>$12.00</td>
                            <td>$866.00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="text-right clearfix">
                <div class="pull-right">
                    <p>
                        Sub - Total amount: <strong><span>$5,700.00</span></strong>
                    </p>
                    <p>
                        VAT: <strong><span>$57.00</span></strong>
                    </p>
                    <p class="page-invoice-amount">
                        <strong>Grand Total: <span>$5,757.00</span></strong>
                    </p>
                    <br />
                </div>
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-primary">
                    <i class="icmn-checkmark mr-1"></i>
                    Proceed to payment
                </button>
                <button type="button" class="btn btn-default">
                    <i class="icmn-printer mr-1"></i>
                    Print
                </button>
            </div>
        </div>
    </div>
</div> #}

<section class="card">
    <div class="card-header">
        <div class="cui-utils-title">
            <strong>Rapport d'intervention</strong>
        </div>
    </div>
    <div class="card-body">
        <div class="cui-add-post">
            <div class="container">
                {{form_start(formRapport, { 'attr': {'class': 'cui-add-post-form' } })}}
                {{form_end(formRapport)}}
                <form action="#" class="">
                    <div class="form-group">
                        <div class="cui-add-post-description">
                            {{form_row(formRapport.descriptionSolution) }}
                            {# <label><strong>Description</strong></label>
                            <div class="cui-add-post-edit-section"></div> #}
                        </div>
                    </div>

                    <div class="form-group">
                         {{ form_row(formRapport.save) }}
                        {# <button class="btn btn-danger mr-2" type="button">Discard</button> #}
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock content %}