{% extends "masterpage.html.twig" %}

{% block content %}
<h3 class="text-black mb-4">Форма технического обслуживания</h3>
<div class="card cui-utils-card-with-sidebar">
    <div class="cui-utils-card-sidebar">
        <div class="col-lg-8">
            <h5 class="mt-2 cui-utils-title"><strong>Харатеристика</strong></h5>
            <div class="mt-5">
                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <td>Название кассы:</td>
                            <td>{{demande.agences.nom}} </td>
                        </tr>
                        <tr>
                            <td>Проблема с :</td>
                            <td>{{demande.origineProbleme}} </td>
                        </tr>
                        <tr>
                            <td>Тип материала:</td>
                            <td>{{demande.typeMateriel}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="card-header">
        <div class="pull-right mt-2">
            <span class="mr-3">
                {% if demande.intervention.etat == "Terminé" %}
                     <p>Сделан</p>   
                {% else %}
                    <p>Еще не сделан</p>   
                {% endif %}
            </span>
        </div>
        <span class="cui-utils-title">
            <strong>Описание проблемы</strong>
        </span>
    </div>
    <div class="card-body">
        <p>
            {{demande.description}}
        </p>
    </div>
</div>

<!-- End Panel with Left Sidebar -->
{% endblock %}

{% block javascripts %}

{{ encore_entry_script_tags('app') }}

{% endblock %}