<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
        <link href="{{asset('fonts/font-awesome.css')}}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{{asset('bootstrap/css/bootstrap.css')}}" type="text/css">
        <link rel="stylesheet" href="{{asset('css/bootstrap-select.min.css')}}" type="text/css">
        <link rel="stylesheet" href="{{asset('css/owl.carousel.css')}}" type="text/css">
        <link rel="stylesheet" href="{{asset('css/owl.transitions.css')}}" type="text/css">
        <link rel="stylesheet" href="{{asset('css/style.css')}}" type="text/css">

        <script src="https://api-maps.yandex.ru/2.1/?apikey=ccd7f8e6-4e3b-4d17-9a00-a13043faee54&lang=fr_FR" type="text/javascript"></script>

        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin=""/>

        {% block stylesheets %}{% endblock %}
    </head>
    <body>

    <body class="page-homepage navigation-fixed-top page-slider horizontal-search-float" id="page-top" data-spy="scroll" data-target=".navigation" data-offset="90">
        <!-- Wrapper -->
        <div class="wrapper">
        
            <!-- Navigation -->
            {# {% include "top-nav.html.twig" %} #}
            <!-- end Navigation -->
            <!-- Page Content -->
            <div id="page-content">
                <!-- Breadcrumb -->
                <div class="container">
                    <ol class="breadcrumb">
                        <li><a href="index.html">Главная</a></li>
                        <li><a href="#">Аккаунт</a></li>
                        <li class="active">Настройки</li>
                    </ol>
                </div>
                <!-- end Breadcrumb -->

                <div class="container">
                    <div class="row">
                          {% block contenu %}{% endblock %}
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div>

            {% block body %}{% endblock %}
            <!-- end Page Content -->
            <!-- Page Footer -->
            {# {% include "footer.html.twig" %} #}
            <!-- end Page Footer -->
        </div>

        <script type="text/javascript" src="{{asset('js/jquery-2.1.0.min.js')}}"></script>
        <script type="text/javascript" src="{{asset('bootstrap/js/bootstrap.min.js')}}"></script>
        <script type="text/javascript" src="{{asset('js/bootstrap-select.min.js')}}"></script>
        <script type="text/javascript" src="{{asset('js/icheck.min.js')}}"></script>
        <script type="text/javascript" src="{{asset('js/retina-1.1.0.min.js')}}"></script>



        {% block javascripts %}{% endblock %}
    </body>
</html>
