{% include "components/_head.html.twig" %}
<body class="cui-config-borderless cui-menu-colorful cui-menu-left-shadow">
    <div class="cui-initial-loading"></div>
    <div class="cui-layout cui-layout-has-sider">
        {# {% include "components.menuRight" %} #}
        {# {% include "components.menuLeft" %} #}
            <div class="cui-layout">
                <div class="cui-layout-header">
                     {% include "components/_topBar.html.twig" %}
                </div>
                <div class="cui-layout-content">
                    {% include "components/_breadcrumbs.html.twig" %}
                    <div class="cui-utils-content">
                        {% block content %}{% endblock %}
                    </div>
                </div>
                <div class="cui-layout-footer">
                    {% include "components/_footer.html.twig" %}
                </div>
            </div>
        </div>

        {% block javascripts %}{% endblock %}
b    </body>
</html>