{# {% extends "base.html.twig" %} #}

{% extends "masterpage.html.twig" %}

{% block content %}
<p>Afficher les agences sur une carte</p>

<div class="map-container">
    <div class="card-body">
       <div class="row">
  <div class="col-md-10">
    <h3 class="text-black"><strong>Historiques des demandes d'interventions</strong></h3>
    <br>

    <div class="table-responsive mb-5">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Quartier</th>
            <th>Position</th>
            <th>Adresse</th>
            <th>H. d'ouverture</th>
            <th>H. de fermeture</th>
          </tr>
        </thead>
        <tbody>

          {% for agence in agences %}
                 <tr>
                    <td>{{ agence.nom }}</td>
                    <td>{{ agence.adresse }}</td>
                    <td>{{ agence.heureOuverture }}</td>
                    <td>{{ agence.heureFermeture }}</td>
                </tr>
            {% endfor %}

        </tbody>
        <tfoot>
          <tr>
            <th>Quartier</th>
            <th>Position</th>
            <th>Adresse</th>
            <th>H. d'ouverture</th>
            <th>H. de fermeture</th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
    </div>

    <div class="carte" id="app"></div>
</div>
{% endblock %}

{% block javascripts %}

{# <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> #}

{{ encore_entry_script_tags('app') }}

{% endblock %}
