{% extends "masterpage.html.twig" %}

{% block content %}

{# {% for agence in agences %}
      <h4>{{ agence.nom }}</h4>
  {% endfor %} #}

<div class="row">

  <div class="col-md-6">

   
  </div>
  <div class="col-md-10">
    <h3 class="text-black"><strong>Historique des demandes d'interventions</strong></h3>
    <br>

    <div class="table-responsive mb-5">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Quartier</th>
            <th>Position</th>
            <th>Adresse</th>
            <th>H. d'ouverture</th>
            <th>H. de fermeture</th>
          </tr>
        </thead>
        <tbody>

          {# {% for agence in agences %}
                 <tr>
                    <td>{{ agence.nom }}</td>
                    <td>{{ agence.longitude }}  {{ agence.latitude }} </td>
                    <td>{{ agence.adresse }}</td>
                    <td>{{ agence.heureOuverture }}</td>
                    <td>{{ agence.heureFermeture }}</td>
                </tr>
            {% endfor %} #}

        </tbody>
        <tfoot>
          <tr>
            <th>Quartier</th>
            <th>Position</th>
            <th>Adresse</th>
            <th>H. d'ouverture</th>
            <th>H. de fermeture</th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>

{% endblock %}

{% block javascripts %}

$(".alert").alert()

{{ encore_entry_script_tags('app') }}


$('.toast').toast(option)
{% endblock %}