{% extends "masterpage.html.twig" %}

{% block content %}

{# {% for agence in agences %}
      <h4>{{ agence.nom }}</h4>
  {% endfor %} #}

<div class="row">

  <div class="col-md-9">

    {% for message in app.flashes('notification') %}
  
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
  </div>
  <div class="col-md-12">
    <h3 class="text-black"><strong>{{enteteMessage}}</strong></h3>
    <br>
    <div>
      {% for demandes in demande_interventions | batch(4) %}
      <div class="row ml-1">
        {% for row in demandes %}

        <div class="card mr-3 mb-3" style="max-width: 18rem;">
          <div class="card-header">Agence {{ row.agences.nom }}</div>
          <div class="card-body ">
            <p>Origine du problème: {{ row.origineProbleme }}</p>
            <p class="card-text text-justify">{{ row.description|striptags|slice(0, 100)}} </p>
          </div>
          <div class="card-footer bg-transparent border-success"><a
              href="{{path('technicien_intervention', {id: row.id})}}">Ouvrir le
              ticket</a>
          </div>
        </div>

        {% endfor %}
      </div>
      {% endfor %}

      {# <div class="carte" id="app"></div> #}
    </div>



  </div>
</div>

{% endblock %}

{% block javascripts %}

{# <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> #}
#}
{{ encore_entry_script_tags('app') }}

{% endblock %}



{# {% block javascripts %}
<!--[if gt IE 8]>
<script type="text/javascript" src="assets/js/ie.js"></script>
<![endif]-->

<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
   integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
   crossorigin=""></script>


<script type="text/javascript">
    // Функция ymaps.ready() будет вызвана, когда
    // загрузятся все компоненты API, а также когда будет готово DOM-дерево.
    ymaps.ready(init);
    function init(){ 
        // Создание карты.    
        var myMap = new ymaps.Map("map", {
            // Координаты центра карты.
            // Порядок по умолчанию: «широта, долгота».
            // Чтобы не определять координаты центра карты вручную,
            // воспользуйтесь инструментом Определение координат.
            center: [55.76, 37.64],
            // Уровень масштабирования. Допустимые значения:
            // от 0 (весь мир) до 19.
            zoom: 7
        });
    }
</script>
{% endblock %} #}