<nav class="cui-breadcrumbs cui-breadcrumbs-bg">
      {% if is_granted('ROLE_SUPERVISEUR') %}
          {% include "components/_breadcrumbs-superviseur.html.twig" %}
      {% elseif is_granted('ROLE_TECHNICIEN') %}
          {% include "components/_breadcrumbs-technicien.html.twig" %}
      {% elseif is_granted('ROLE_AGENCE') %}
          {% include "components/_breadcrumbs-agence.html.twig" %}
      {% endif %}
</nav>
