<div class="pull-right">
  <a href="{{path('app_tech_homepage')}}" class="btn btn-sm btn-primary">
    Mes
    <span class="hidden-sm-down"> interventions </span>
  </a>
</div>
<span class="font-size-18 d-block">
  <a class="text-muted" href="{{path('app_tech_homepage')}}">Acceuil</a>
  <strong>Bienvenue! </strong>
  <small class="text-muted"></small>
</span>