<div class="pull-right">
  <a href="{{path('demande_faire')}}" class="btn btn-sm btn-primary">
    Faire
    <span class="hidden-sm-down"> une demande d'intervention</span>
  </a>
</div>
<span class="font-size-18 d-block">
  <small><a class="text-muted" href="{{path('app_agence_homepage')}}">Acceuil</a></small>
  <strong>Bienvenue! </strong>
  <small class="text-muted"></small>
</span>