<div class="pull-right">
  {# <a href="{{path('demande_faire')}}" class="btn btn-sm btn-primary">
    Faire
    <span class="hidden-sm-down"> un rapport d'intervention</span>
  </a> #}
</div>
<span class="font-size-18 d-block">
  <small> <a class="text-muted" href="{{path('app_sup_homepage')}}">Home</a></small>
  <strong>Добро пожаловать! </strong>
  <small class="text-muted"></small>
</span>