<div class="cui-footer">
  <div class="cui-footer-inner">

    <div class="cui-footer-bottom">
      <div class="row">
        <div class="col-md-4">
          <a href="https://themeforest.net/item/clean-ui-html-bootstrap-admin-template/22827565?ref=mediatec_software"
            target="_blank" class="">
            RUNBET SA
          </a>
        </div>
        <div class="col-md-8">
          <div class="cui-footer-company">
            <img class="cui-footer-company-logo" src="/cleanui/components/dummy-assets/common/img/mediatec.png"
              title="Mediatec Software" />
            <span>
              © 2019 <a href="http://mediatec.org/" target="_blank">DTECH RUNBET SA</a>
              <br />
              All rights reserved
            </span>
          </div>
        </div>
      </div>
    </div>

    <a href="javascript: void(0);" class="cui-utils-scroll-top"
      onclick="$('body, html').animate({'scrollTop': 0}, 500)"><i class="icmn-arrow-up"></i></a>

  </div>
</div>