<div class="cui-topbar">
  <!-- left aligned items -->
  <div class="cui-topbar-left">
    {% if is_granted('ROLE_SUPERVISEUR') %}
    {% include "components/_topBar-superviseur.html.twig" %}
    {% elseif is_granted('ROLE_TECHNICIEN') %}
    {% include "components/_topBar-tech.html.twig" %}
    {% elseif is_granted('ROLE_AGENCE') %}
    {% include "components/_topBar-agence.html.twig" %}
    {% endif %}
  </div>
  <!-- right aligned items -->
  <div class="cui-topbar-right">

    <div class="cui-topbar-item">
      <div class="dropdown cui-topbar-avatar-dropdown">
        <a href="" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <span class="cui-topbar-avatar">
            <img src="/cleanui/components/dummy-assets/common/img/avatars/1.jpg" alt="" />
          </span>
        </a>
        <div class="dropdown-menu dropdown-menu-right" role="menu">
          <a class="dropdown-item" href="{{path('app_profil')}}"><i class="dropdown-icon icmn-user"></i> Profile
            utilisateur</a>
          {# <div class="dropdown-divider"></div>
          <div class="dropdown-header">Acceuil</div> #}
          {# <a class="dropdown-item" href="javascript:void(0)"><i class="dropdown-icon icmn-circle-right"></i> System
            Dashboard</a>
          <a class="dropdown-item" href="javascript:void(0)"><i class="dropdown-icon icmn-circle-right"></i> User
            Boards</a>
          <a class="dropdown-item" href="javascript:void(0)"><i class="dropdown-icon icmn-circle-right"></i> Issue
            Navigator
            <span class="badge badge-success font-size-11 ml-2">25 New</span></a> #}
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{{path('app_logout')}}"><i class="dropdown-icon icmn-exit"></i> Se
            deconnecter</a>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  ;
  (function ($) {
    'use strict'
    $(function () {
      ///////////////////////////////////////////////////////////
      // livesearch scripts

      var livesearch = $('.cui-topbar-livesearch')
      var close = $('.cui-topbar-livesearch-close')
      var visibleClass = 'cui-topbar-livesearch-visible'
      var input = $('#livesearch-input')
      var inputInner = $('#livesearch-input-inner')

      function setHidden() {
        livesearch.removeClass(visibleClass)
      }

      function handleKeyDown(e) {
        const key = event.keyCode.toString()
        if (key === '27') {
          setHidden()
        }
      }
      input.on('focus', function () {
        livesearch.addClass(visibleClass)
        setTimeout(function () {
          inputInner.focus()
        }, 200)
      })
      close.on('click', setHidden)
      document.addEventListener('keydown', handleKeyDown, false)
    })
  })(jQuery)
</script>