 <div class="cui-topbar-item">
      <div class="dropdown">
            <a href="" class="dropdown-toggle text-nowrap" data-toggle="dropdown" aria-expanded="false">
                <i class="icmn-folder-open mr-2"></i>
                <span class="d-none d-xl-inline-block"><strong>Gestion des agences</strong></span>
            </a>
            <div class="dropdown-menu" role="menu">
                <a class="dropdown-item" href="{{path('agence_ajouter')}}">Ajouter une nouvelle agence</a>
                <a class="dropdown-item" href="{{path('app_agence_homepage')}}">Liste de nos agences</a>
                <a class="dropdown-item" href="{{path('demande_carte_intervention')}}">Par carte</a>
            </div>
      </div>
</div>

<div class="cui-topbar-item">
<div class="dropdown">
        <a href="" class="dropdown-toggle text-nowrap" data-toggle="dropdown" aria-expanded="false">
          <i class="icmn-database mr-2"></i>
          <span class="d-none d-xl-inline-block"><strong>Gestion des demandes d'interventions</strong></span>
        </a>
        <div class="dropdown-menu" role="menu">
          <a class="dropdown-item" href="{{path('demande_faire')}}">Nouvelle demande d'intervention</a>
          {# <a class="dropdown-item" href="{{path('demande_active')}}">Interventions en attente</a>
          <div class="dropdown-header">Inactive</div> #}
          <a class="dropdown-item" href="{{path('demande_historique')}}">Historique des interventions</a>
        </div>
      </div>
</div>