 <div class="cui-topbar-item">
      <div class="dropdown">
            <a href="" class="dropdown-toggle text-nowrap" data-toggle="dropdown" aria-expanded="false">
                <i class="icmn-folder-open mr-2"></i>
                <span class="d-none d-xl-inline-block"><strong>Управление персоналом</strong></span>
            </a>
            <div class="dropdown-menu" role="menu">
                <a class="dropdown-item" href="{{path('app_tech_homepage')}}">Список сотрудников</a>
                <a class="dropdown-item" href="{{path('app_tech_homepage')}}">Добавить сотрудника</a>
                <a class="dropdown-item" href="javascript:void(0)">Par carte</a>
            </div>
      </div>
</div>

{# <div class="cui-topbar-item">
    <div class="dropdown">
        <a href="" class="dropdown-toggle text-nowrap" data-toggle="dropdown" aria-expanded="false">
          <i class="icmn-database mr-2"></i>
          <span class="d-none d-xl-inline-block"><strong>Управление работой</strong></span>
        </a>
        <div class="dropdown-menu" role="menu">
            <a class="dropdown-item" href="{{path('demande_faire')}}">Nouvelle demande d'intervention</a>
            <div class="dropdown-header">Active</div>
            <a class="dropdown-item" href="{{path('demande_active')}}">Interventions en attente</a>
            <div class="dropdown-header">Inactive</div>
            <a class="dropdown-item" href="{{path('demande_historique')}}">Historique des interventions</a>
        </div>
    </div>
</div> #}