<nav class="cui-menu-left">
  <div class="cui-menu-left-trigger cui-menu-left-trigger-action"></div>
  <div class="cui-menu-left-handler">
    <div class="cui-menu-left-handler-icon"></div>
  </div>
  <div class="cui-menu-left-inner">
    <div class="cui-menu-left-logo">
      <a href="/">
        <img
          class="cui-menu-left-logo-default"
          src="/cleanui/components/dummy-assets/common/img/logo-inverse.png"
          alt=""
        />
        <img
          class="cui-menu-left-logo-toggled"
          src="/cleanui/components/dummy-assets/common/img/logo-mobile.png"
          alt=""
        />
      </a>
    </div>
    <div class="cui-menu-left-scroll">
      <ul class="cui-menu-left-list cui-menu-left-list-root">
        <li class="cui-menu-left-item">
          <a href="javascript: void(0);" class="cui-menu-right-action-toggle">
            <span class="cui-menu-left-icon icmn-cog"></span>
            <span class="cui-menu-left-title">Theme Settings</span>
          </a>
        </li>
        <li class="cui-menu-left-item">
          <a href="https://docs.cleanuitemplate.com/" target="_blank">
            <span class="cui-menu-left-icon icmn-books"></span>
            <span class="cui-menu-left-title">Documentation</span>
          </a>
        </li>
        <li class="cui-menu-left-divider">
          <!-- -->
        </li>
        <li class="cui-menu-left-item">
          <a href="/dashboard/alpha">
            <span class="cui-menu-left-icon icmn-home"></span>
            <span class="cui-menu-left-title">Dashboard Alpha</span>
          </a>
        </li>
        <li class="cui-menu-left-item">
          <a href="/dashboard/beta">
            <span class="cui-menu-left-icon icmn-home"></span>
            <span class="cui-menu-left-title">Dashboard Beta</span>
            <span class="ml-2 badge badge-primary">PRO</span>
          </a>
        </li>
        <li class="cui-menu-left-item">
          <a href="/dashboard/crypto">
            <span class="cui-menu-left-icon icmn-home"></span>
            <span class="cui-menu-left-title">Dashboard Crypto</span>
            <span class="ml-2 badge badge-primary">PRO</span>
          </a>
        </li>
        <li class="cui-menu-left-item">
          <a href="/dashboard/gamma">
            <span class="cui-menu-left-icon icmn-home"></span>
            <span class="cui-menu-left-title">Dashboard Gamma</span>
            <span class="ml-2 badge badge-primary">PRO</span>
          </a>
        </li>
        <li class="cui-menu-left-item">
          <a href="/dashboard/docs">
            <span class="cui-menu-left-icon icmn-file-text"></span>
            <span class="cui-menu-left-title">Dashboard Docs</span>
            <span class="ml-2 badge badge-primary">PRO</span>
          </a>
        </li>
        <li class="cui-menu-left-divider">
          <!-- -->
        </li>
        <li class="cui-menu-left-item cui-menu-left-submenu">
          <a href="javascript: void(0);">
            <span class="cui-menu-left-icon icmn-file-text"></span>
            <span class="cui-menu-left-title">Default Pages</span>
          </a>
          <ul class="cui-menu-left-list">
            <li class="cui-menu-left-item">
              <a href="/pages/login-alpha">
                <span class="cui-menu-left-icon">LA</span>
                <span class="cui-menu-left-title">Login Alpha</span>
                <span class="ml-2 badge badge-primary">PRO</span>
              </a>
            </li>
            <li class="cui-menu-left-item">
              <a href="/pages/login-beta">
                <span class="cui-menu-left-icon">LB</span>
                <span class="cui-menu-left-title">Login Beta</span>
                <span class="ml-2 badge badge-primary">PRO</span>
              </a>
            </li>
            <li class="cui-menu-left-item">
              <a href="/pages/register">
                <span class="cui-menu-left-icon">R</span>
                <span class="cui-menu-left-title">Register</span>
                <span class="ml-2 badge badge-primary">PRO</span>
              </a>
            </li>
            <li class="cui-menu-left-item">
              <a href="/pages/lockscreen">
                <span class="cui-menu-left-icon">LS</span>
                <span class="cui-menu-left-title">Lockscreen</span>
                <span class="ml-2 badge badge-primary">PRO</span>
              </a>
            </li>
            <li class="cui-menu-left-item">
              <a href="/pages/pricing-tables">
                <span class="cui-menu-left-icon">PT</span>
                <span class="cui-menu-left-title">Pricing Tables</span>
                <span class="ml-2 badge badge-primary">PRO</span>
              </a>
            </li>
            <li class="cui-menu-left-item">
              <a href="/pages/invoice">
                <span class="cui-menu-left-icon">I</span>
                <span class="cui-menu-left-title">Invoice</span>
                <span class="ml-2 badge badge-primary">PRO</span>
              </a>
            </li>
            <li class="cui-menu-left-item">
              <a href="/pages/page-404">
                <span class="cui-menu-left-icon">P4</span>
                <span class="cui-menu-left-title">Page 404</span>
              </a>
            </li>
            <li class="cui-menu-left-item">
              <a href="/pages/page-500">
                <span class="cui-menu-left-icon">P5</span>
                <span class="cui-menu-left-title">Page 500</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="cui-menu-left-item cui-menu-left-submenu">
          <a href="javascript: void(0);">
            <span class="cui-menu-left-icon icmn-download"></span>
            <span class="cui-menu-left-title">Ecommerce</span>
          </a>
          <ul class="cui-menu-left-list">
            <li class="cui-menu-left-item">
              <a href="/ecommerce/dashboard">
                <span class="cui-menu-left-icon">DB</span>
                <span class="cui-menu-left-title">Dashboard</span>
                <span class="ml-2 badge badge-primary">PRO</span>
              </a>
            </li>
            <li class="cui-menu-left-item">
              <a href="/ecommerce/products-catalog">
                <span class="cui-menu-left-icon">PC</span>
                <span class="cui-menu-left-title">Products Catalog</span>
                <span class="ml-2 badge badge-primary">PRO</span>
              </a>
            </li>
            <li class="cui-menu-left-item">
              <a href="/ecommerce/product-details">
                <span class="cui-menu-left-icon">PD</span>
                <span class="cui-menu-left-title">Product Details</span>
                <span class="ml-2 badge badge-primary">PRO</span>
              </a>
            </li>
            <li class="cui-menu-left-item">
              <a href="/ecommerce/product-edit">
                <span class="cui-menu-left-icon">PE</span>
                <span class="cui-menu-left-title">Product Edit</span>
                <span class="ml-2 badge badge-primary">PRO</span>
              </a>
            </li>
            <li class="cui-menu-left-item">
              <a href="/ecommerce/products-list">
                <span class="cui-menu-left-icon">PL</span>
                <span class="cui-menu-left-title">Products List</span>
                <span class="ml-2 badge badge-primary">PRO</span>
              </a>
            </li>
            <li class="cui-menu-left-item">
              <a href="/ecommerce/orders">
                <span class="cui-menu-left-icon">O</span>
                <span class="cui-menu-left-title">Orders</span>
                <span class="ml-2 badge badge-primary">PRO</span>
              </a>
            </li>
            <li class="cui-menu-left-item">
              <a href="/ecommerce/cart-checkout">
                <span class="cui-menu-left-icon">CC</span>
                <span class="cui-menu-left-title">Cart / Checkout</span>
                <span class="ml-2 badge badge-primary">PRO</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="cui-menu-left-divider">
          <!-- -->
        </li>
        <li class="cui-menu-left-item cui-menu-left-submenu">
          <a href="javascript: void(0);">
            <span class="cui-menu-left-icon icmn-list"></span>
            <span class="cui-menu-left-title">Forms</span>
          </a>
          <ul class="cui-menu-left-list">
            <li class="cui-menu-left-item">
              <a href="/forms/basic-form-elements">
                <span class="cui-menu-left-icon">BF</span>
                <span class="cui-menu-left-title">Basic Form Elements</span>
              </a>
            </li>
            <li class="cui-menu-left-item">
              <a href="/forms/buttons">
                <span class="cui-menu-left-icon">B</span>
                <span class="cui-menu-left-title">Buttons</span>
              </a>
            </li>
            <li class="cui-menu-left-item">
              <a href="/forms/dropdowns">
                <span class="cui-menu-left-icon">D</span>
                <span class="cui-menu-left-title">Dropdowns</span>
              </a>
            </li>
            <li class="cui-menu-left-item">
              <a href="/forms/selectboxes">
                <span class="cui-menu-left-icon">SB</span>
                <span class="cui-menu-left-title">Selectboxes</span>
              </a>
            </li>
            <li class="cui-menu-left-item">
              <a href="/forms/checkboxes-radio">
                <span class="cui-menu-left-icon">CR</span>
                <span class="cui-menu-left-title">Checkboxes / Radio</span>
              </a>
            </li>
            <li class="cui-menu-left-item">
              <a href="/forms/form-wizard">
                <span class="cui-menu-left-icon">FW</span>
                <span class="cui-menu-left-title">Form Wizard</span>
                <span class="ml-2 badge badge-primary">PRO</span>
              </a>
            </li>
            <li class="cui-menu-left-item">
              <a href="/forms/form-validation">
                <span class="cui-menu-left-icon">FV</span>
                <span class="cui-menu-left-title">Form Validation</span>
                <span class="ml-2 badge badge-primary">PRO</span>
              </a>
            </li>
            <li class="cui-menu-left-item">
              <a href="/forms/autocomplete">
                <span class="cui-menu-left-icon">AC</span>
                <span class="cui-menu-left-title">Autocomplete</span>
                <span class="ml-2 badge badge-primary">PRO</span>
              </a>
            </li>
            <li class="cui-menu-left-item">
              <a href="/forms/input-mask">
                <span class="cui-menu-left-icon">IM</span>
                <span class="cui-menu-left-title">Input Mask</span>
                <span class="ml-2 badge badge-primary">PRO</span>
              </a>
            </li>
            <li class="cui-menu-left-item">
              <a href="/forms/file-uploads">
                <span class="cui-menu-left-icon">FU</span>
                <span class="cui-menu-left-title">File Uploads</span>
                <span class="ml-2 badge badge-primary">PRO</span>
              </a>
            </li>
            <li class="cui-menu-left-item">
              <a href="/forms/extras">
                <span class="cui-menu-left-icon">E</span>
                <span class="cui-menu-left-title">Extras</span>
                <span class="ml-2 badge badge-primary">PRO</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="cui-menu-left-item cui-menu-left-submenu">
          <a href="javascript: void(0);">
            <span class="cui-menu-left-icon icmn-loop"></span>
            <span class="cui-menu-left-title">Components</span>
          </a>
          <ul class="cui-menu-left-list">
            <li class="cui-menu-left-item">
              <a href="/components/date-picker">
                <span class="cui-menu-left-icon">DP</span>
                <span class="cui-menu-left-title">Date Picker</span>
                <span class="ml-2 badge badge-primary">PRO</span>
              </a>
            </li>
            <li class="cui-menu-left-item">
              <a href="/components/calendar">
                <span class="cui-menu-left-icon">CL</span>
                <span class="cui-menu-left-title">Calendar</span>
              </a>
            </li>
            <li class="cui-menu-left-item">
              <a href="/components/carousel">
                <span class="cui-menu-left-icon">CR</span>
                <span class="cui-menu-left-title">Carousel</span>
              </a>
            </li>
            <li class="cui-menu-left-item">
              <a href="/components/slider">
                <span class="cui-menu-left-icon">SL</span>
                <span class="cui-menu-left-title">Slider</span>
              </a>
            </li>
            <li class="cui-menu-left-item">
              <a href="/components/modal">
                <span class="cui-menu-left-icon">M</span>
                <span class="cui-menu-left-title">Modal</span>
              </a>
            </li>
            <li class="cui-menu-left-item">
              <a href="/components/tooltips-popovers">
                <span class="cui-menu-left-icon">TP</span>
                <span class="cui-menu-left-title">Tooltips & Popovers</span>
              </a>
            </li>
            <li class="cui-menu-left-item">
              <a href="/components/notifications-alerts">
                <span class="cui-menu-left-icon">NA</span>
                <span class="cui-menu-left-title">Notifications & Alerts</span>
              </a>
            </li>
            <li class="cui-menu-left-item">
              <a href="/components/loading-progress">
                <span class="cui-menu-left-icon">LP</span>
                <span class="cui-menu-left-title">Loading Progress</span>
                <span class="ml-2 badge badge-primary">PRO</span>
              </a>
            </li>
            <li class="cui-menu-left-item">
              <a href="/components/progress-bars">
                <span class="cui-menu-left-icon">PB</span>
                <span class="cui-menu-left-title">Progress Bars</span>
              </a>
            </li>
            <li class="cui-menu-left-item">
              <a href="/components/badges-labels">
                <span class="cui-menu-left-icon">BL</span>
                <span class="cui-menu-left-title">Badges & Labels</span>
              </a>
            </li>
            <li class="cui-menu-left-item">
              <a href="/components/steps">
                <span class="cui-menu-left-icon">S</span>
                <span class="cui-menu-left-title">Steps</span>
                <span class="ml-2 badge badge-primary">PRO</span>
              </a>
            </li>
            <li class="cui-menu-left-item">
              <a href="/components/breadcrumbs">
                <span class="cui-menu-left-icon">B</span>
                <span class="cui-menu-left-title">Breadcrumbs</span>
              </a>
            </li>
            <li class="cui-menu-left-item">
              <a href="/components/pagination">
                <span class="cui-menu-left-icon">P</span>
                <span class="cui-menu-left-title">Pagination</span>
              </a>
            </li>
            <li class="cui-menu-left-item">
              <a href="/components/collapse">
                <span class="cui-menu-left-icon">C</span>
                <span class="cui-menu-left-title">Collapse</span>
              </a>
            </li>
            <li class="cui-menu-left-item">
              <a href="/components/tabs">
                <span class="cui-menu-left-icon">T</span>
                <span class="cui-menu-left-title">Tabs</span>
              </a>
            </li>
            <li class="cui-menu-left-item">
              <a href="/components/text-editor">
                <span class="cui-menu-left-icon">TE</span>
                <span class="cui-menu-left-title">Text Editor</span>
                <span class="ml-2 badge badge-primary">PRO</span>
              </a>
            </li>
            <li class="cui-menu-left-item">
              <a href="/components/nestable">
                <span class="cui-menu-left-icon">N</span>
                <span class="cui-menu-left-title">Nestable</span>
                <span class="ml-2 badge badge-primary">PRO</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="cui-menu-left-item cui-menu-left-submenu">
          <a href="javascript: void(0);">
            <span class="cui-menu-left-icon icmn-table"></span>
            <span class="cui-menu-left-title">Tables</span>
          </a>
          <ul class="cui-menu-left-list">
            <li class="cui-menu-left-item">
              <a href="/tables/basic-tables">
                <span class="cui-menu-left-icon">BT</span>
                <span class="cui-menu-left-title">Basic Tables</span>
              </a>
            </li>
            <li class="cui-menu-left-item">
              <a href="/tables/datatables">
                <span class="cui-menu-left-icon">DT</span>
                <span class="cui-menu-left-title">DataTables</span>
                <span class="ml-2 badge badge-primary">PRO</span>
              </a>
            </li>
            <li class="cui-menu-left-item">
              <a href="/tables/editable-tables">
                <span class="cui-menu-left-icon">ET</span>
                <span class="cui-menu-left-title">Editable Tables</span>
                <span class="ml-2 badge badge-primary">PRO</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="cui-menu-left-item cui-menu-left-submenu">
          <a href="javascript: void(0);">
            <span class="cui-menu-left-icon icmn-stats-bars"></span>
            <span class="cui-menu-left-title">Charts</span>
          </a>
          <ul class="cui-menu-left-list">
            <li class="cui-menu-left-item">
              <a href="/charts/chartistjs">
                <span class="cui-menu-left-icon">CT</span>
                <span class="cui-menu-left-title">Chartist.js</span>
              </a>
            </li>
            <li class="cui-menu-left-item">
              <a href="/charts/chartjs">
                <span class="cui-menu-left-icon">CR</span>
                <span class="cui-menu-left-title">Chart.js</span>
                <span class="ml-2 badge badge-primary">PRO</span>
              </a>
            </li>
            <li class="cui-menu-left-item">
              <a href="/charts/c3">
                <span class="cui-menu-left-icon">C3</span>
                <span class="cui-menu-left-title">C3</span>
                <span class="ml-2 badge badge-primary">PRO</span>
              </a>
            </li>
            <li class="cui-menu-left-item">
              <a href="/charts/peity">
                <span class="cui-menu-left-icon">PT</span>
                <span class="cui-menu-left-title">Peity</span>
                <span class="ml-2 badge badge-primary">PRO</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="cui-menu-left-item">
          <a href="/components/mail-templates">
            <span class="cui-menu-left-icon icmn-envelop"></span>
            <span class="cui-menu-left-title">Mail Templates</span>
            <span class="ml-2 badge badge-primary">PRO</span>
          </a>
        </li>
        <li class="cui-menu-left-divider">
          <!-- -->
        </li>
        <li class="cui-menu-left-item cui-menu-left-submenu">
          <a href="javascript: void(0);">
            <span class="cui-menu-left-icon icmn-stack"></span>
            <span class="cui-menu-left-title">Apps</span>
          </a>
          <ul class="cui-menu-left-list">
            <li class="cui-menu-left-item">
              <a href="/apps/profile">
                <span class="cui-menu-left-icon">PR</span>
                <span class="cui-menu-left-title">Profile</span>
                <span class="ml-2 badge badge-primary">PRO</span>
              </a>
            </li>
            <li class="cui-menu-left-item">
              <a href="/apps/messaging">
                <span class="cui-menu-left-icon">MS</span>
                <span class="cui-menu-left-title">Messaging</span>
                <span class="ml-2 badge badge-primary">PRO</span>
              </a>
            </li>
            <li class="cui-menu-left-item">
              <a href="/apps/mail">
                <span class="cui-menu-left-icon">ML</span>
                <span class="cui-menu-left-title">Mail</span>
                <span class="ml-2 badge badge-primary">PRO</span>
              </a>
            </li>
            <li class="cui-menu-left-item">
              <a href="/apps/calendar">
                <span class="cui-menu-left-icon">CL</span>
                <span class="cui-menu-left-title">Calendar</span>
                <span class="ml-2 badge badge-primary">PRO</span>
              </a>
            </li>
            <li class="cui-menu-left-item">
              <a href="/apps/gallery">
                <span class="cui-menu-left-icon">GL</span>
                <span class="cui-menu-left-title">Gallery</span>
                <span class="ml-2 badge badge-primary">PRO</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="cui-menu-left-item cui-menu-left-submenu">
          <a href="javascript: void(0);">
            <span class="cui-menu-left-icon icmn-book"></span>
            <span class="cui-menu-left-title">Github</span>
          </a>
          <ul class="cui-menu-left-list">
            <li class="cui-menu-left-item">
              <a href="/github/explore">
                <span class="cui-menu-left-icon">XP</span>
                <span class="cui-menu-left-title">Explore</span>
                <span class="ml-2 badge badge-primary">PRO</span>
              </a>
            </li>
            <li class="cui-menu-left-item">
              <a href="/github/discuss">
                <span class="cui-menu-left-icon">DS</span>
                <span class="cui-menu-left-title">Discuss</span>
                <span class="ml-2 badge badge-primary">PRO</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="cui-menu-left-item cui-menu-left-submenu">
          <a href="javascript: void(0);">
            <span class="cui-menu-left-icon icmn-play"></span>
            <span class="cui-menu-left-title">Youtube</span>
          </a>
          <ul class="cui-menu-left-list">
            <li class="cui-menu-left-item">
              <a href="/youtube/feed">
                <span class="cui-menu-left-icon">FD</span>
                <span class="cui-menu-left-title">Feed</span>
                <span class="ml-2 badge badge-primary">PRO</span>
              </a>
            </li>
            <li class="cui-menu-left-item">
              <a href="/youtube/view">
                <span class="cui-menu-left-icon">VW</span>
                <span class="cui-menu-left-title">View</span>
                <span class="ml-2 badge badge-primary">PRO</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="cui-menu-left-item cui-menu-left-submenu">
          <a href="javascript: void(0);">
            <span class="cui-menu-left-icon icmn-pen"></span>
            <span class="cui-menu-left-title">Blog</span>
          </a>
          <ul class="cui-menu-left-list">
            <li class="cui-menu-left-item">
              <a href="/blog/add-post">
                <span class="cui-menu-left-icon">AP</span>
                <span class="cui-menu-left-title">Add Post</span>
                <span class="ml-2 badge badge-primary">PRO</span>
              </a>
            </li>
            <li class="cui-menu-left-item">
              <a href="/blog/post">
                <span class="cui-menu-left-icon">PT</span>
                <span class="cui-menu-left-title">Post</span>
                <span class="ml-2 badge badge-primary">PRO</span>
              </a>
            </li>
            <li class="cui-menu-left-item">
              <a href="/blog/feed">
                <span class="cui-menu-left-icon">VW</span>
                <span class="cui-menu-left-title">Feed</span>
                <span class="ml-2 badge badge-primary">PRO</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="cui-menu-left-divider">
          <!-- -->
        </li>
        <li class="cui-menu-left-item cui-menu-left-submenu">
          <a href="javascript: void(0);">
            <span class="cui-menu-left-icon icmn-checkbox-unchecked"></span>
            <span class="cui-menu-left-title">Layout</span>
          </a>
          <ul class="cui-menu-left-list">
            <li class="cui-menu-left-item">
              <a href="/layout/grid">
                <span class="cui-menu-left-icon">G</span>
                <span class="cui-menu-left-title">Grid</span>
              </a>
            </li>
            <li class="cui-menu-left-item">
              <a href="/layout/cards">
                <span class="cui-menu-left-icon">PC</span>
                <span class="cui-menu-left-title">Cards / Panels</span>
              </a>
            </li>
            <li class="cui-menu-left-item">
              <a href="/layout/sidebars">
                <span class="cui-menu-left-icon">SB</span>
                <span class="cui-menu-left-title">Sidebars</span>
              </a>
            </li>
            <li class="cui-menu-left-item">
              <a href="/layout/utilities">
                <span class="cui-menu-left-icon">U</span>
                <span class="cui-menu-left-title">Utilities</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="cui-menu-left-item cui-menu-left-submenu">
          <a href="javascript: void(0);">
            <span class="cui-menu-left-icon icmn-star-full"></span>
            <span class="cui-menu-left-title">Icons</span>
          </a>
          <ul class="cui-menu-left-list">
            <li class="cui-menu-left-item">
              <a href="/icons/fontawesome">
                <span class="cui-menu-left-icon">FA</span>
                <span class="cui-menu-left-title">FontAwesome</span>
              </a>
            </li>
            <li class="cui-menu-left-item">
              <a href="/icons/linear-icons-free">
                <span class="cui-menu-left-icon">LI</span>
                <span class="cui-menu-left-title">Linearicons Free</span>
              </a>
            </li>
            <li class="cui-menu-left-item">
              <a href="/icons/icomoon-free">
                <span class="cui-menu-left-icon">IC</span>
                <span class="cui-menu-left-title">Icomoon Free</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="cui-menu-left-item">
          <a href="/layout/typography">
            <span class="cui-menu-left-icon icmn-font-size"></span>
            <span class="cui-menu-left-title">Typography</span>
          </a>
        </li>
        <li class="cui-menu-left-divider">
          <!-- -->
        </li>
        <li class="cui-menu-left-item cui-menu-left-item-disabled">
          <a href="javascript: void(0);">
            <span class="cui-menu-left-icon">D</span>
            <span class="cui-menu-left-title">Disabled Item</span>
          </a>
        </li>
        <li class="cui-menu-left-item cui-menu-left-submenu">
          <a href="javascript: void(0);">
            <span class="cui-menu-left-icon">IN</span>
            <span class="cui-menu-left-title">Infinity Nested</span>
          </a>
          <!-- level 1 -->
          <ul class="cui-menu-left-list">
            <li class="cui-menu-left-item cui-menu-left-submenu">
              <a href="javascript: void(0);">
                <span class="cui-menu-left-title">Level 1</span>
              </a>
              <!-- level 2 -->
              <ul class="cui-menu-left-list">
                <li class="cui-menu-left-item cui-menu-left-submenu">
                  <a href="javascript: void(0);">
                    <span class="cui-menu-left-title">Level 1.2</span>
                  </a>
                  <!-- level 3 -->
                  <ul class="cui-menu-left-list">
                    <li class="cui-menu-left-item">
                      <a href="javascript: void(0);">
                        <span class="cui-menu-left-title">Level 1.2.3</span>
                      </a>
                    </li>
                    <li class="cui-menu-left-item cui-menu-left-submenu">
                      <a href="javascript: void(0);">
                        <span class="cui-menu-left-title">Level 1.2.3</span>
                      </a>
                      <!-- level 4 -->
                      <ul class="cui-menu-left-list">
                        <li class="cui-menu-left-item">
                          <a href="javascript: void(0);">
                            <span class="cui-menu-left-title">Level 1.2.3.4</span>
                          </a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="cui-menu-left-item">
                  <a href="javascript: void(0);">
                    <span class="cui-menu-left-title">Level 1.2</span>
                  </a>
                </li>
                <li class="cui-menu-left-item">
                  <a href="javascript: void(0);">
                    <span class="cui-menu-left-title">Level 1.2</span>
                  </a>
                </li>
                <li class="cui-menu-left-item">
                  <a href="javascript: void(0);">
                    <span class="cui-menu-left-title">Level 1.2</span>
                  </a>
                </li>
              </ul>
            </li>
            <li class="cui-menu-left-item">
              <a href="javascript: void(0);">
                <span class="cui-menu-left-title">Level 1</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="cui-menu-left-divider cui-menu-left-item-special">
          <!-- -->
        </li>
        <li class="cui-menu-left-item cui-menu-left-item-special">
          <a href="javascript: void(0);">
            <span class="cui-utils-donut cui-utils-donut-success"></span>
            <span class="cui-menu-left-title">Jupiter</span>
          </a>
        </li>
        <li class="cui-menu-left-item cui-menu-left-item-special">
          <a href="javascript: void(0);">
            <span class="cui-utils-donut cui-utils-donut-primary"></span>
            <span class="cui-menu-left-title">Earth</span>
          </a>
        </li>
        <li class="cui-menu-left-item cui-menu-left-item-special">
          <a href="javascript: void(0);">
            <span class="cui-utils-donut cui-utils-donut-danger"></span>
            <span class="cui-menu-left-title">Mercury</span>
          </a>
        </li>
        <li class="cui-menu-left-divider cui-menu-left-item-special">
          <!-- -->
        </li>
        <li>
          <div class="cui-menu-left-buy-pro">
            <p>
              <strong>More components, more styles, more themes, and premium support!</strong>
            </p>
            <a
              href="https://themeforest.net/item/clean-ui-html-bootstrap-admin-template/22827565?ref=mediatec_software"
              target="_blank"
              class="btn btn-sm btn-danger"
              >Buy Pro 21$</a
            >
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
