{% extends "masterpage.html.twig" %}

{% block content %}
<div class="card">

    <div class="card-body">

        <h5 class="text-black align-center"><strong>formulaire d'ajout d'une nouvelle agence</strong></h5>
        <p class="text-muted">

            <a href="{{ path('app_agence_homepage') }}" target="_blank">Liste des agences se trouvant
                à {{ville}} <small><i class="icmn-link ml-1">
                        <!-- --></i></small></a>
        </p>
        {{ form_start(formAgence) }}
        <div class="row">
            <div class="col-lg-8">
                <div class="form-group">
                    {{ form_row(formAgence.nom, {'attr': { 'class': 'form-control', 'id': 'l13'}} ) }}
                </div>
            </div>

            <div class="col-lg-8">
                <div class="row form-group">
                    <div class="col-lg-6">
                        {{ form_row(formAgence.heureOuverture, {'attr': { 'class': 'form-control', 'id': 'l13'}} ) }}
                    </div>
                    <div class="col-lg-6">
                        {{ form_row(formAgence.heureFermeture, {'attr': { 'class': 'form-control', 'id': 'l13'}} ) }}
                    </div>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="row form-group">
                    <div class="col-lg-6">
                        {{ form_row(formAgence.longitude, {'attr': { 'class': 'form-control', 'id': 'l13'}} ) }}
                    </div>
                    <div class="col-lg-6">
                        {{ form_row(formAgence.latitude, {'attr': { 'class': 'form-control', 'id': 'l13'}} ) }}
                    </div>
                </div>
            </div>

            <div class="col-lg-8">
                <div class=" form-group">
                    {{ form_row(formAgence.adresse, {'attr': { 'class': 'form-control', 'id': 'l13'}} ) }}
                </div>
            </div>

            <div class="col-lg-8">
                <div class="form-group row">
                    <div class="col-md-9">
                        {{form_row(formAgence.save, {'attr': { 'class': 'btn btn-sm btn-primary'}})}}
                        <div class="col-lg-4">
                        </div>
                    </div>
                </div>
            </div>
            {{ form_end(formAgence) }}
        </div>
    </div>
    {% endblock %}

    {% block javascripts %}

    {# <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> #}

    {{ encore_entry_script_tags('app') }}

    {% endblock %}



    {# {% block javascripts %}
<!--[if gt IE 8]>
<script type="text/javascript" src="assets/js/ie.js"></script>
<![endif]-->

<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
   integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
   crossorigin=""></script>


<script type="text/javascript">
    // Функция ymaps.ready() будет вызвана, когда
    // загрузятся все компоненты API, а также когда будет готово DOM-дерево.
    ymaps.ready(init);
    function init(){ 
        // Создание карты.    
        var myMap = new ymaps.Map("map", {
            // Координаты центра карты.
            // Порядок по умолчанию: «широта, долгота».
            // Чтобы не определять координаты центра карты вручную,
            // воспользуйтесь инструментом Определение координат.
            center: [55.76, 37.64],
            // Уровень масштабирования. Допустимые значения:
            // от 0 (весь мир) до 19.
            zoom: 7
        });
    }
</script>
{% endblock %} #}